.grid {
  display: grid;
  grid-template-columns: 140px 50px auto 50px 140px;
  grid-template-areas:
  "header header header header header"
  ". main main main ."
  "footer footer footer footer footer"
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
}